.btn_favorite {
    border: none;
    background: transparent;
    outline: none;
    cursor: pointer; 
    padding: 0;  
    margin: 0; 
}

.btn_favorite svg {
    transition: fill var(--transition-time, 0.4s);
}

.btn_favorite svg path {
    transition: stroke var(--transition-time, 0.4s);
}

.btn_favorite:hover svg path {
    stroke: #df1aa7;
}
