.card__wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(1, 1fr);
    grid-auto-flow: row;
    gap: 0.6rem;
    margin-top: var(--header-height, 3.25rem);
    padding: 1rem;
}

@media (max-width: 1200px) {
    .card__wrapper {
      grid-template-columns: repeat(2, 1fr);  
    }
}

@media (max-width: 600px) {
    .card__wrapper {
      grid-template-columns: repeat(1, 1fr);  
    }
}