.card {
    border-radius: 0.8rem;
    width: 100%;
    height: 18rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    transition: -webkit-filter var(--transition-time, 0.4s);
    transition: filter 0var(--transition-time, 0.4s);
    transition: filter var(--transition-time, 0.4s), -webkit-filter var(--transition-time, 0.4s);
}

.card:hover {
    -webkit-filter: brightness(90%);
            filter: brightness(90%);
}

.card__title {
    font-size: 2rem;
    position: relative;
    z-index: 1;
}

.card__img {
    position: absolute;
    z-index: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 1rem;
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: top;
       object-position: top;
}

.card__actions {
    display: flex;
    gap: 0.5rem;
    align-items: center;
    position: absolute;
    top: 1rem;
    right: 1rem;
}

.card__link {
    color: var(--text-color, #0e010e);
    text-decoration: none;
    transition: color var(--transition-time, 0.4s);
}

.card__link:hover {
    color: var(--text-hover-color, #3c0856);
}