.modal{
    background-color: var(--modal-bcg, #454345);
    position: fixed;
    inset: 0;
    z-index: 900;
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal__inner {
    width: 80%;
    height: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}

.modal__close {
    border: none;
    outline: none;
    background: transparent;
    position: absolute;
    top: 1rem;
    right: 15%;
    color: #FFF;
}
