.modal {
    background-color: var(--modal-bcg, #454345);
    position: fixed;
    inset: 0;
    z-index: 900;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transform: scale3d(0.5);
    animation: fade-in var(--transition-time, 0.4s) linear forwards;
}

@keyframes fade-in {
    to {
        opacity: 1;
        transform: scale3d(1);
    }
}

.modal__inner {
    width: 80%;
    height: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}

.modal__close {
    border: none;
    outline: none;
    background: transparent;
    position: absolute;
    top: 1rem;
    right: 15%;
    color: #FFF;
}