.modal{
    background-color: rgba(97, 96, 96, 0.85);
    position: fixed;
    inset: 0;
    z-index: 900;
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal__inner {

}